.btn-principal {
    background-color: var(--cor-laranja) !important;
    border-color: var(--cor-laranja) !important;
    color: #000 !important;
    font-weight: bold;
    transition: scale .2s ease-in-out !important;
}

.btn-principal:hover {
    scale: 1.1;
}


:root {
    --cor-azul: #2F6C9B;
    --cor-azul-claro: #72AFC3;
    --cor-verde: #86C89A;
    --cor-laranja: #F58C5C; 
}

/* Estilos para o card do formulário de cadastro e login */
.form-card {
  background-color: #f8f9fa;
  padding: 2.5rem;
  border-radius: 15px;
  border: 1px solid #e9ecef;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Ajuste para telas pequenas */
@media (max-width: 576px) {
  .form-card {
    padding: 1.5rem;
  }
}