.adotante-card {
  border-radius: 15px;
  border: 1px solid #e9ecef;
  text-align: center;
  display: flex; 
  flex-direction: column; 
}

.adotante-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 1.5rem 1rem;
  flex-grow: 1; 
}

.user-avatar-card {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.user-details-card {
  word-break: break-word;
}

.user-name-card {
  font-weight: 600;
  color: var(--cor-azul);
}

.user-email-card, .user-phone-card {
  font-size: 0.9rem;
}

.user-actions-card {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #f0f0f0;
  display: flex;             
  align-items: center;       
  width: 100%;             
}

.admin-switch-card {
  display: flex;
  align-items: center;
  margin: 0; 
  margin-right: auto; 
}

.admin-switch-card .form-check-input {
  cursor: pointer;
}

.admin-switch-card .form-check-label {
    cursor: pointer;
    margin-bottom: 0; 
}

.admin-switch-card .form-check-input:checked {
  background-color: var(--cor-verde);
  border-color: var(--cor-verde);
}

.action-buttons-group {
    display: flex; 
    margin: 0; 
}

.action-btn-card {
  font-size: 1.1rem;
  padding: 0.25rem; 
  margin-left: 0.5rem; 
}