.titulo-painel {
    color: var(--cor-azul);
}

.dashboard-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-wrapper {
  display: flex;
  position: relative;
  background-color: #f8f9fa;
  flex: 1;
}

.sidebar-container-wrapper {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid var(--cor-verde);
  background-color: var(--cor-verde);
  overflow-y: auto;
}

.content-container-wrapper {
  flex-grow: 1;
  padding: 1.5rem;
  position: relative;
  
}

.sidebar-toggle {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 100;
}

@media (max-width: 991.98px) {
  .dashboard-wrapper {
    flex-direction: column;
  }

  .sidebar-container-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 1030;
    margin-left: -250px;
    transition: margin-left 0.3s ease-in-out;
  }

  .sidebar-container-wrapper.open {
    margin-left: 0;
  }

  .overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1029;
  }

  /* Adiciona espaço no topo do conteúdo para o botão não sobrepor o título */
  .content-container-wrapper {
    padding-top: 5rem;
  }
}