.custom-header {
    background-color: #000000 !important;
    border-bottom: 1px solid #222;
}

.header-logo {
    width: 100px;
}


.nav-custom-link {
    color: #86C89A !important; 
    font-size: 1.1rem; 
    font-weight: 500; 
}

.nav-custom-link:hover {
    border-bottom: 2px solid #F58C5C !important;
}

#busca {
    scroll-margin-top: 150px; 
}

#faq {
    scroll-margin-top: 150px; 
}

@media (max-width: 991.98px) {

  .navbar-collapse .btn-principal {
    width: 50%;
    text-align: center; 
  }

  .navbar-collapse .btn-principal + .btn-principal {
    margin-top: 0.75rem; 
  }

  .navbar-collapse .me-3 {
    margin-right: 0 !important;
  }
}